<!-- Navigation
================================================== -->
<nav class="navbar">
  <div class="navbar-brand six columns">
      <ul>
        <!-- <li>
          <a href="/" title="Accueil"><img id="logo" src="{{ LOGO_IMAGE }}" alt="{{ SITENAME }}"></a>
        </li>
        <li> -->
          <h1><a href="/" title="Accueil">{{ SITENAME }}</a></h1>
        </li>
      </ul>
      <ul id="social-icons">
        {% for nav in NAVIGATION %}
        <li>
          <a class="icon" href="{{ nav['url'] }}" title="{{ nav['site'].title() }}">
            <i class="fa fa-{{ nav['site'] }}"></i>
          </a>
        </li>
        {% endfor %}

        <li>
          <a class="icon" href="mailto:mamady.nabe@outlook.com" title="Email">
            <i class="fa fa-envelope-o"></i>
          </a>
        </li>
      </ul> <!-- End social-icons ul -->
    </div> <!-- End navbar-brand -->

  <div class="navbar-links">
      <ul>
        <li><a href="/nouvelles/">Nouvelles</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/resume/">Resume</a></li>
      </ul> <!-- End navbar-links ul -->
    </div> <!-- End navbar-links -->
</nav> <!-- End navbar -->
